@model HockeyManager.ViewModel.SearchPlayer
<script src="~/lib/jquery/dist/jquery.js"></script>

<div class="container">
    <form method="post" action="SearchPlayers">

        Name
        <input type="text" id="Name" name="Name" />
        <div class="row">
            <div class="col-12">
                <input type="checkbox" onclick="checkAll(this.checked)"/> Select all
                @foreach (var item in Model.Teams)
                {
                    <label class="checkbox-inline">
                        <input type="checkbox" name=@item.Abbreviation id="team"> @item.Name
                    </label>

                }

            </div>
        </div>
            <div class="form-group">
                <label for="Position">Position</label>
                <select class="form-control" name="Position" id="Position">
                    <option value=""></option>
                    <option value="C">Center</option>
                    <option value="LW">Left Wing</option>
                    <option value="RW">Right Wing</option>
                    <option value="D">Defenceman</option>
                    <option value="G">Goalie</option>
                </select>
            </div>

            <div class="form-group">
                <label for="Favourite">Favourite</label>
                <select class="form-control" name="Favourite" id="Favourite">
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>
                </select>
            </div>

            <input type="submit" />
</form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Favourite
            </th>
            <th>
                Picture
            </th>
            <th>
                Name
            </th>
            <th>
                Team
            </th>
            <th>
                Position
            </th>
            <th>
                Country
            </th>
            <th>
                Goals
            </th>
            <th>
                Assists
            </th>
            <th>
                Points
            </th>
            <th>
                Rank
            </th>
            <th>
                Birth Date
            </th>
            <th>
                PlusMinus
            </th>
            <th>
                Height
            </th>
            <th>
                Weight
            </th>
            <th>
                PenalityMinutes
            </th>
            <th>
                Saves
            </th>
            <th>
                Shutouts
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Players)
            {
        <tr>
            <td>
                <input type="checkbox" class="myChk" name="isChecked" id="player" value= @item.Id />

            </td>
            <td>
                <img src=@Html.DisplayFor(modelItem => item.HeadShotUrl) alt="Headshot" width="100" height="100">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.Abbreviation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Goals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assists)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlusMinus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PenalityMinutes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saves)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shutouts)
            </td>
        </tr>
        }
    </tbody>
</table>
<script>
    $(function () {

        $(".myChk").click(function () {
            var favorite = [];
            var nonFavourite = [];
            $.each($("input[id='player']:checked"), function () {
                favorite.push($(this).val());
            });
            $.each($("input[id='player']:not(:checked)"), function () {
                nonFavourite.push($(this).val());
            });
           
            $.ajax({
                type: "POST",
                url: "https://localhost:44375/Search/Post",
                traditional: true,
                dataType: 'application/json',
                data: {
                    fav: favorite,
                    nonFav: nonFavourite
                },
                success: function (data, textStatus, jqXHR) {
                    //data - response from server
                },
                error: function (jqXHR, textStatus, errorThrown) {
                }
            });
        });

    });
</script>
