@model IEnumerable<HockeyManager.Models.HMTeam>


<table class="table">
    <thead>
        <tr>
            <th>
                Logo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Division)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conference)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src=@Html.DisplayFor(modelItem => item.logoUrl) alt="Logo" width="200" height="75">
            </td>
            <td>
                @Html.ActionLink(item.Name, "Players", new {  id=item.Id  })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Division)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conference)
            </td>
        </tr>
}
    </tbody>
</table>
