@model HockeyManager.Areas.Identity.Data.User



    <div class="container">
        <div class="text-center">
            <h1>@Model.UserName</h1>
            <div class="row">
                <div class="col-md-6">
                    @if (Model.PoolsOwned.FirstOrDefault() == null)
                    {
                        <h4>No pools recorded</h4>
                    }
                    else
                    {
                        <h4>Pools</h4>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Place</th>
                                    <th>Pool Name</th>
                                    <th>Team Name</th>
                                    <th>Points</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var pool in Model.PoolsOwned)
                                {
                                    <tr>
                                        <td>@(pool.Pool.Teams.OrderByDescending(x => x.Points).ToList().FindIndex(x => x.UserId == Model.Id) + 1)</td>
                                        <td>@pool.Pool.Name</td>
                                        <td>@pool.Pool.Teams.Where(x => x.UserId == Model.Id).Select(x => x.TeamInfo.Name).FirstOrDefault()</td>
                                        <td>@pool.Pool.Teams.Where(x => x.UserId == Model.Id).Select(x => x.Points).FirstOrDefault()</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>

                <div class="col-md-6">

                    @if (Model.Seasons.FirstOrDefault() == null)
                    {
                        <h4>No seasons recorded</h4>
                    }
                    else
                    {
                        <h4>Seasons</h4>

                        <table class="table table-striped" id="InteractiveTable">
                            <thead>
                                <tr>
                                    <th>Team Name</th>
                                    <th>Games Played</th>
                                    <th>Wins</th>
                                    <th>Loses</th>
                                    <th>Points</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var team in Model.Seasons.SelectMany(x => x.Teams))
                                {
                                    if (team.UserId == Model.Id)
                                    {
                                        <tr onclick="location.href = '/Season/Hub/@team.SeasonId'">
                                            <td>@team.TeamInfo.Name</td>
                                            <td>@team.GamesPlayed</td>
                                            <td>@team.Wins</td>
                                            <td>@team.Loses</td>
                                            <td>@team.Points</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    }

                </div>
            </div>
        </div>
    </div>
