@model IEnumerable<HockeyManager.Models.HMPlayer>

@foreach (var player in Model)
{
    <tr class="rosterData" id=@player.Id>
        <td>@player.Position</td>
        <td>@player.PlayerInfo.Name</td>
        <td>@player.Goals</td>
        <td>@player.Assists</td>
        <td>@player.Points</td>
        <td>@player.Hits</td>
        <td>@player.PlusMinus</td>
        <td>@player.Overall</td>
    </tr>
}

