@model HockeyManager.ViewModel.SeasonsViewModel
    <html>
        <head>
            <meta charset='utf-8' />
            <link href="~/lib/calendar/dist/css/main.css" rel="stylesheet" />
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/calendar/dist/js/main.js"></script>
            <script src="~/lib/moment/dist/js/moment.min.js"></script>
            <script>
                var gameEvents = [];
                var actionUrl = '@Url.Action("SimGame", "Season", new { gameId = @Model.MyTeam.HomeSchedule.First().Id })';
                var seasonId = @Model.MyTeam.SeasonId;
                $.ajax({
                    url: '/Season/GetCalendarData',
                    type: "GET",
                    dataType: "JSON",
                    data: {
                        seasonId: seasonId
                    },
                    success: function (result) {

                        $.each(result, function (i, data) {
                            if (data.description == "Game over") {
                                gameEvents.push(
                                    {
                                        id: data.id,
                                        title: data.title,
                                        description: data.description,
                                        start: moment(data.startDate).format('YYYY-MM-DD'),
                                        end: moment(data.startDate).format('YYYY-MM-DD'),
                                        textColor: "black",
                                        backgroundColor: "#e8fa8e",
                                        borderColor: "#e8fa8e",
                                        url: 'https://localhost:44375/Season/SimGame?gameId=' + data.id
                                    });
                                gameEvents.push(
                                    {
                                        start: moment(data.startDate).format('YYYY-MM-DD'),
                                        end: moment(data.startDate).format('YYYY-MM-DD'),
                                        display: 'background',
                                        color: '#d1edff'
                                    });
                            } else {
                                gameEvents.push(
                                    {
                                        id: data.id,
                                        title: data.title,
                                        description: data.description,
                                        start: moment(data.startDate).format('YYYY-MM-DD'),
                                        end: moment(data.startDate).format('YYYY-MM-DD'),
                                        textColor: "white",
                                        backgroundColor: "#9501fc",
                                        borderColor: "#fc0101"
                                    });
                            }
                        });


                        var calendarEl = document.getElementById('calendar');

                        var calendar = new FullCalendar.Calendar(calendarEl, {
                            headerToolbar: {
                                left: 'prev,next today',
                                center: 'title',
                                right: 'dayGridMonth,timeGridWeek,timeGridDay'
                            },
                            initialDate: '2020-11-03',
                            navLinks: true, // can click day/week names to navigate views
                            selectable: true,
                            selectMirror: true,
                            eventColor: '#378006',
                            select: function (arg) {
                                $.ajax({
                                    url: '/Season/SimToDate',
                                    type: "GET",
                                    dataType: "JSON",
                                    data: {
                                        seasonId: seasonId,
                                        toDate: arg.startStr
                                    },
                                    success: function (result) {
                                        
                                    }
                                });
                            },
                            eventClick: function (arg) {
                                //Date click logic
                                $.ajax({
                                    url: '/Season/CanSimGame',
                                    type: "GET",
                                    data: {
                                        seasonId: seasonId,
                                        date: arg.event.startStr
                                    },
                                    success: function (isPlayable) {
                                        if (isPlayable) {
                                           window.location.href = 'https://localhost:44375/Season/SimGame?gameId=' + arg.event.id
                                        }
                                        
                                    }
                                });
                                
                            },
                            editable: true,
                            dayMaxEvents: true, // allow "more" link when too many events
                            events: gameEvents
                        });

                        calendar.render();
                    }
                });

            </script>
            <style>
                #calendar {
                    max-width: 1100px;
                    margin: 0 auto;
                }
            </style>
        </head>
    <body>

        <div class="text-center">
            <div class="row">
                <div class="col">
                    <h3>Standings</h3>

                    <select class="form-control">
                        <option value="League">League</option>
                        <option value="Division">Division</option>
                        <option value="Conference">Conference</option>
                    </select>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Place</th>
                                <th>Team</th>
                                <th>GP</th>
                                <th>W</th>
                                <th>L</th>
                                <th>OTL</th>
                                <th>P</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var team in Model.Teams)
                            {
                                <tr>
                                    <td>@team.Place</td>
                                    <td>@team.TeamInfo.Name</td>
                                    <td>@team.GamesPlayed</td>
                                    <td>@team.Wins</td>
                                    <td>@team.Loses</td>
                                    <td>@team.OvertimeLoses</td>
                                    <td>@team.Points</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-5">
                    <h3>Schedule</h3>
                    <div id='calendar'></div>
                </div>
                <div class="col">
                    <h3>My Roster</h3>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Position</th>
                                <th>Name</th>
                                <th>G</th>
                                <th>A</th>
                                <th>OVR</th>
                                <th>+/-</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var team in Model.Teams)
                            {
                                if (team.UserId != null)
                                {
                                    foreach (var player in team.Players)
                                    {
                                        <tr>
                                            <td>@player.Position</td>
                                            <td>@player.PlayerInfo.Name</td>
                                            <td>@player.Goals</td>
                                            <td>@player.Assists</td>
                                            <td>@player.Overall</td>
                                            <td>@player.PlusMinus</td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>