@model HockeyManager.ViewModel.SearchPlayer

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

    $(document).ready(function () {
        $("#spinner").hide();

    $(document).ready(function () {
        $("#teamBuilder").hide()
        var teamsSelected = 0;
        var team1;
        var team2;
        var originalTable;
        var moveToTable;

        $(document).on('click', '#divisionTeam', function () {
            teamsSelected++;
            if (teamsSelected == 2) {
                team2 = $(this)
                moveToTable = team2.closest('table');
                moveToTable.append(team1);
                originalTable.append(team2);
                team1.css("background-color", "");
                teamsSelected = 0;
            } else {
                team1 = $(this)
                originalTable = team1.closest('table');
                team1.css("background-color", "yellow");
            }
        });

        $(document).on('click', '#back', function () {
            isDivisionHidden = $("#divisionSelection").is(":hidden");
            if (!isDivisionHidden) {
                javascript: history.go(-1)
            } else {
                $("#toRoster").show();
                $("#divisionSelection").show();
                $("#teamBuilder").hide()
            }
        });


        $(document).on('click', '#toRoster', function () {
            $("#toRoster").hide();
            $("#divisionSelection").hide();
            $("#teamBuilder").show()
        });

        $(document).on('click', '#addTeam', function () {

            $("#spinner").show();

            var teamName = "@Context.Request.Query["teamName"]";
            var teamAbbreviation = $("#abbreviation").val();
    
            var pacificIds = [];
            var centralIds = [];
            var atlanticIds = [];
            var metroIds = [];
            var playerIds = [];

            $('[name=pacific] td').each(function () {
                pacificIds.push(this.id)

            })

            $('[name=central] td').each(function () {
                centralIds.push(this.id)

            })

            $('[name=atlantic] td').each(function () {
                atlanticIds.push(this.id)

            })

            $('[name=metropolitan] td').each(function () {
                metroIds.push(this.id)

            })

            $('#drafted tr').each(function () {
                playerIds.push(this.id)

            })

            $.ajax({
                type: "POST",
                url: "/Season/CreateSeason",
                data: {
                    name: teamName,
                    abbreviation: teamAbbreviation,
                    players: playerIds,
                    pacific: pacificIds,
                    central: centralIds,
                    atlantic: atlanticIds,
                    metropolitan: metroIds
                }
            }).done(function (resultMessage) {

                var seasonId = Number(resultMessage);

                if (!isNaN(seasonId)) {
                    location.href = '/Season/Hub/' + seasonId;

                } else {
                    alert(resultMessage);
                    $("#spinner").hide();
                }

            }).fail(function (x) {
                alert(x.responseText);

            });
        });

    });
    });
</script>
<div class="container">
    <div class="row">
        <div class="col text-left">
            <button class="btn btn-primary" id="back">Back</button>
        </div>
        <div class="col text-right">
            <button class="btn btn-primary" id="toRoster">Next</button>
        </div>
    </div>
</div>

<div class="container text-center" id="divisionSelection">
    <h2>Select a division</h2>
    <div class="row">
        <div class="col">
            <h3>Western Conference</h3>
            <div>
                <table class="table table-striped" id="InteractiveTable" name="pacific">
                    <thead>
                        <tr>
                            <th>Pacific</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var team in Model.Teams)
                        {
                            if (team.Division == "Pacific")
                            {
                                <tr id="divisionTeam">
                                    <td id="@team.TeamInfo.Id">@team.TeamInfo.Name</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <br />
            <hr />
            <br />
            <div>
                <table class="table table-striped" id="InteractiveTable" name="central">
                    <thead>
                        <tr>
                            <th>Central</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="divisionTeam">
                            <td id="myTeam">@Context.Request.Query["teamName"]</td>
                        </tr>
                        @foreach (var team in Model.Teams)
                        {
                            if (team.Division == "Central")
                            {
                                <tr id="divisionTeam">
                                    <td id="@team.TeamInfo.Id">@team.TeamInfo.Name</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col">
            <h3>Eastern Conference</h3>
            <div>
                <table class="table table-striped" id="InteractiveTable" name="atlantic">
                    <thead>
                        <tr>
                            <th>Atlantic</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var team in Model.Teams)
                        {
                            if (team.Division == "Atlantic")
                            {
                                <tr id="divisionTeam">
                                    <td id="@team.TeamInfo.Id">@team.TeamInfo.Name</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <br />
            <hr />
            <br />
            <div>
                <table class="table table-striped" id="InteractiveTable" name="metropolitan">
                    <thead>
                        <tr>
                            <th>Metropolitan</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var team in Model.Teams)
                        {
                            if (team.Division == "Metropolitan")
                            {
                                <tr id="divisionTeam">
                                    <td id="@team.TeamInfo.Id">@team.TeamInfo.Name</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="teamBuilder">
        <div class="container">
            <label class="control-label">Team Abbreviation:</label>
            <input class="form-control" id="abbreviation" maxlength="3"/>
            <span class="text-danger"></span>
        </div>
        <partial name="~/Views/Shared/_ManageTeam.cshtml" model="Model" />
    </div>
