@model HockeyManager.ViewModel.SearchPlayer

<script src="~/lib/jquery/dist/jquery.js"></script>


<script>
    $(document).ready(function () {


        @if (ViewBag.teamName != null)
        {
            <text>
        $("#teamName").val("@ViewBag.teamName");
            </text>
        }



        $(document).on('click', '#addTeam', function () {
            //ToDo: Check and see if we should care about user changing the url to a string and crashing this line

            var teamName = $("#teamName").val();
            var playerIds = [];
            $('#drafted tr').each(function () {
                playerIds.push(this.id)

            })
            $.ajax({
                type: "POST",
                url: "https://localhost:44375/Pool/AddOrUpdateTeam",
                data: {
                    id: poolId,
                    name: teamName,
                    players: playerIds
                }
            }).done(function (resultMessage) {

                if (resultMessage == "success" || resultMessage == "name updated") {
                    location.href = 'https://localhost:44375/Pool/Details/'+@Context.Request.Query["id"];

                } else {
                    alert(resultMessage);
                }

            }).fail(function (x) {
                alert(x.responseText);

            });
        });
     });
</script>

<div>
    <div class="container">
        <label class="control-label">Team Name:</label>
        <input class="form-control" id="teamName" />
        <span class="text-danger"></span>
    </div>
    <partial name="~/Views/Shared/_ManageTeam.cshtml" model="Model" />
</div>

<div>
    <h4>Pick Rules:</h4>
    <ul>
        <li>Max players: @ViewBag.maxPlayers</li>
        <li>Max Forwards: @ViewBag.maxForwards</li>
        <li>Max Defencemen: @ViewBag.maxDefencemen</li>
        <li>Max Goalies:  @ViewBag.maxGoalies</li>
    </ul>
</div>